# Welcome to our Python Guide! 
### By: Ananya Pattnaik and Jasmine Wu

## Let us introduce ourselves!
#### Ananya Pattnaik
I am a third year majoring in Data Science, with a concentration in Applied Mathematics.
#### Jasmine Wu
I am a third year double majoring in Data Science, with a concentration in Cognition, and Psychology, and a minor in Linguistics.

## So let's start with the basics, what is Python?
Python is a high-level and general-purpose programming language commonly used as a general-purpose coding language by many. It is very versatile, in the sense that it can be used for purposes other than web development (which languages such as Java and HTML are primarily used for). It has fairly simple syntax in comparison to other languages and is a foundational programming language for coders around the world! This notebook goes over basic syntax and examples that may be helpful to refer to.

### How to navigate the notebook:
To run the cell, simply press "Shift" + "Return" together! Let's begin...

## General Syntax


Let's start off by looking at the phrase: "Hello, world!"
You can use a function `print()` to output a string of characters.

In [2]:
print("Hello, world!")

Hello, world!

## Variable Types

Now, you may be asking, "What is a string?"

A string is a **variable type**. 

Some common variable types that you will use throughout your python career are: **integers (int), floats, strings (str), lists**. 

We can use the function `type()`, to display the variable type of the input.

#### Integer

In [3]:
type(1)

int

#### Float

In [4]:
type(1.0)

float

#### String

In [5]:
type("Hello, world!")

str

#### List

In [6]:
type([0, 1, 2])

list

## Variable Names

We can also assign and call on names of different variable types.

In [7]:
one = 1
one

1

You can use multiple variable names at a time, as long as they are both defined.

## Arithmetic Operations

We can use these names in different arithmetic operations and functions. **It is important to note that these arthmetic operations follow PEMDAS.**

#### Addition

In [8]:
one + one

2

#### Subtraction

In [9]:
one - one

0

#### Multiplication

In [10]:
one * one

1

#### Division, Floor Division, Modulo

In [11]:
one / one

1.0

Classic division returns a **float**. To discard the fractional part of the answer, you can **floor divide**, which simply disregards the fractional remainder, and rounds the final answer down. For example:

In [12]:
one // one

1

Here is an example with a few other integers besides "one":

In [13]:
15/2

7.5

But if we floor divide:

In [14]:
15//2

7

There is also the **modulo** feature. This function is equivalent to the remainder during division, which may be useful and necessary at times. For example:

In [15]:
3%2

1

In [16]:
25%7

4

#### Exponent

In [17]:
one ** one #same as saying one to the first power (1)^(1)

1

## Indexing

We can grab any part of a string or list by **indexing**. 

It is important to note, that in python we index starting from 0. (The first item in the list is indexed at 0, the second item is indexed at 1, so on and so forth...)

In a range of a list of string, the first index is 'inclusive', meaning it is included in the output, but the second index is 'exclusive', meaning it is excluded from the output.

#### Strings

In [18]:
string = "Hello, world!"
string

'Hello, world!'

In [19]:
string[0]

'H'

In [20]:
string[1]

'e'

There is also an operation called "s(p)licing", which allows us to get a range of values from a list or string from one index (inclusive) to another index (exclusive), denoted with a ':' in between the two numbers.

In [21]:
string[3:7]

'lo, '

In [22]:
string[:5]

'Hello'

In [23]:
string[5:]

', world!'

You can also use the arithmetic operation of addition to add two strings.

In [24]:
string_2 = " Bye, world!"
string + string_2

'Hello, world! Bye, world!'

#### Lists

In [25]:
list_1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
list_1[0]

0

In [27]:
list_1[1]

1

You can also splice lists.

In [28]:
list_1[3:7]

[3, 4, 5, 6]

In [29]:
list_1[:5]

[0, 1, 2, 3, 4]

In [30]:
list_1[5:]

[5, 6, 7, 8, 9, 10]

In [31]:
list_1 + [11]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

## Dictionaries

Dictionaries are used to store data values in "key:value" pairs. It is a collection which is unordered, changeable and does not allow duplicates. They are written with curly brackets, and have keys and values:

In [32]:
birthdays = {
    "Ananya Pattnaik": "February 2",
    "Jasmine Wu": "March 19",
    "Joyce Zheng": "March 23",
    "Harry Styles": "February 1",
    "Liam Payne": "August 29",
    "Niall Horan": "September 13",
    "Louis Tomlinson": "December 24",
    "Zayn Malik": "January 12"
}
print(birthdays)

{'Ananya Pattnaik': 'February 2', 'Jasmine Wu': 'March 19', 'Joyce Zheng': 'March 23', 'Harry Styles': 'February 1', 'Liam Payne': 'August 29', 'Niall Horan': 'September 13', 'Louis Tomlinson': 'December 24', 'Zayn Malik': 'January 12'}

You can select a "key" from a dictionary to get its "value" as an output:

In [33]:
print(birthdays["Ananya Pattnaik"])

February 2

Unlike a list, you cannot refer to an item by using an index. There also cannot be two items with the same key.

## `len()`

If you want to check the size of a **dictionary**, **list**, or **string**, you can use the `len()` function, which will return an integer.

In [34]:
birthdays

{'Ananya Pattnaik': 'February 2',
 'Jasmine Wu': 'March 19',
 'Joyce Zheng': 'March 23',
 'Harry Styles': 'February 1',
 'Liam Payne': 'August 29',
 'Niall Horan': 'September 13',
 'Louis Tomlinson': 'December 24',
 'Zayn Malik': 'January 12'}

In [35]:
len(birthdays)

8

In [36]:
list_1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
len(list_1)

11

In [38]:
string

'Hello, world!'

In [39]:
len(string)

13

## Booleans and If/Else Statements 
Booleans are conditional statements that return `True` or `False` values.

Let us define a, b, and c as:

In [40]:
a = 5
b = 6
c = 5

`==`: "is equal to"

In [41]:
a == b

False

In [42]:
a == c

True

`>`: "is greater than"

In [43]:
a > b

False

`>=`: "is greater than or equal to"

In [44]:
a >= b

False

`<`: "is less than"

In [45]:
a < c

False

`<=`: "is less than or equal to"

In [46]:
a <= c

True

`!=`: "is not equal to"

In [47]:
a != b

True

In [48]:
a != c

False

If statements can use the boolean conditions listed above, although they are not limited to just these. 

An `if` statement has a condition, and if the condition returns `True`, the statement prints out a return value we would write below it. (?) If the condition is not satisfied, there is an `else` statement with an alternative return value below it.

In [49]:
if a == b:
    print("The numbers are the same!")
else:
    print("The numbers are not the same!")

The numbers are not the same!

If there are multiple `if` statements, all conditions are tested. There is also `elif`, which is "else if", and is similar to `if`, except that only as many conditions that are needed are tested.

In [50]:
if a == b:
    print("The numbers are the same!")
elif a == c:
    print("The numbers are the same!")
else:
    print("The numbers are not the same!")

The numbers are the same!

## Loops

A `for` loop is used for iterating over a sequence (can be a list, a tuple, a dictionary, a set, or a string). We use the variable "i" as the position of where you're at in the loop, starting from the first index, 0.

In [51]:
for i in list_1:
    print(i * 2)

0
2
4
6
8
10
12
14
16
18
20

Instead of a list, we could also use `range()` (exclusive).

In [52]:
for i in range(6):
    print(i)

0
1
2
3
4
5

A `while` loop executes a set of statements as long as a condition is true.

In [53]:
i = 1
while i < 4:
    print(i)
    i += 1

1
2
3

The `break` statement stops the loop, regardless of its conditions.

In [54]:
for i in list_1:
    print(i)
    if i == 4:
        break

0
1
2
3
4

## Function
The **basic** format for a function is as follows:

In [55]:
def function(argument):
    return value

In [56]:
def add_one(number):
    total = number + 1
    return total

add_one(1)

2

In [57]:
add_one(5)

6

We can use `if`/`else` statements and `for`/`while` loops inside functions.

In [58]:
def looping(arg):
    empty_list = []
    for i in arg:
        if i != 5:
            empty_list.append(i)
        else:
            empty_list.append("5 was here!")
    return empty_list
looping(range(8))

[0, 1, 2, 3, 4, '5 was here!', 6, 7]

## Common Errors in Python

Here are some common python errors:
    1. Typos
    2. Python is case sensitive
    3. Indentation
    4. Variable names should begin with a letter or underscore
    5. Initialize your variables
    6. Use parentheses to call a function

# Thank You!
We have another reference notebook on NumPy and Pandas that you can find [here](http://localhost:8888/notebooks/Desktop/NumPy%20and%20Pandas%20Guide.ipynb).